/*-------------------------------------------*
/* Fonts
/*-------------------------------------------*/

@font-face {
    font-family: "MuseoSans";
    src: url("../fonts/MuseoSansRegular/MuseoSansRegular.eot");
    src: url("../fonts/MuseoSansRegular/MuseoSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansRegular/MuseoSansRegular.woff") format("woff"),
    url("../fonts/MuseoSansRegular/MuseoSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "MuseoSans";
    src: url("../fonts/MuseoSansBold/MuseoSansBold.eot");
    src: url("../fonts/MuseoSansBold/MuseoSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansBold/MuseoSansBold.woff") format("woff"),
    url("../fonts/MuseoSansBold/MuseoSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "MuseoSans";
    src: url("../fonts/MuseoSansItalic/MuseoSansItalic.eot");
    src: url("../fonts/MuseoSansItalic/MuseoSansItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansItalic/MuseoSansItalic.woff") format("woff"),
    url("../fonts/MuseoSansItalic/MuseoSansItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "MuseoSans";
    src: url("../fonts/MuseoSansMedium/MuseoSansMedium.eot");
    src: url("../fonts/MuseoSansMedium/MuseoSansMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MuseoSansMedium/MuseoSansMedium.woff") format("woff"),
    url("../fonts/MuseoSansMedium/MuseoSansMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

/*-------------------------------------------*
/* Body, Common classes
/*-------------------------------------------*/

* {  
    margin: 0; 
    padding: 0;    
    box-sizing: border-box;
    border: none;
    outline: none !important;
    background-color: transparent;
}

html,
body {
    height: 100%;
}

body {
    font-family: "MuseoSans";
    font-weight: 400;
    font-size: 17px;
    line-height: normal;
    font-style: normal;
    color: #000;
	letter-spacing: 1px;
    position: relative;
}

article, 
aside, 
details, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
main, 
nav, 
section, 
summary {
    display: block;
}

p {
    margin: 0 0 30px 0;
}

strong,
b {
    font-weight: 600;
}

em {
    font-style: italic;
}

ul,
ul li,
ul li.expanded, 
ul li.collapsed, 
ul li.leaf {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #63332a;
    transition: 0.2s ease-out;
}

a:hover {
    text-decoration: none;
    color: #f57c20;
}

/*-------------------------------------------*
/* Layout
/*-------------------------------------------*/

#container {
    max-width: 1400px;
    margin: 0 auto;
	padding: 0 15px;
}

body.sidebar-first #wrapper,
.region-header,
#footer .region {
	display: -ms-flexbox;
    display: flex;
}
 
#featured {
    margin: 0 0 30px 0;
}

#sidebar {
    -ms-flex: 0 0 25%;
	flex: 0 0 25%;
}

body.sidebar-first #page-content {
    -ms-flex: 0 0 75%;
	flex: 0 0 75%;
	max-width: 75%;
	padding: 0 0 0 60px;
}

.region-header,
#footer .region {
	-ms-flex-pack: justify;
    justify-content: space-between;
}

.region-header {
	-ms-flex-align: center;
	align-items: center;
}

.region-header .block {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
}

/*-------------------------------------------*
/* Headings
/*-------------------------------------------*/

h1, h2, h3, h4, h5 {
    color: #63332a;
    line-height: 1.3;
    font-weight: 400;
}

h1 {
    font-size: 40px;
    margin: 0 0 60px 0;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 28px;
    margin: 0 0 30px 0;
}

h3 {
    font-size: 26px;
    margin: 0 0 30px 0;
}

h4 {
    font-size: 24px;
    margin: 0 0 15px 0;
}

h5 {
    font-size: 22px;
	margin: 0 0 15px 0;
}

h6 {
    font-size: 20px;
	margin: 0 0 15px 0;
}

.block-title {
	display: block;
	font-size: 22px;
    margin: 0 0 15px 0;
    color: #63332a;
    text-transform: uppercase;
}

/*-------------------------------------------*
/* Header
/*-------------------------------------------*/

#header {
    padding: 30px 0;
    color: #63332a;
    font-size: 18px;
    line-height: 1;
}

#logo {
    width: 80px;
    margin: 0 auto;
}

#logo img {
	display: block;
    width: 100%;
    height: auto;
}

.phone {     
    margin: 0 0 10px 0;
}

.code { 
    color: #f57c20;
    font-size: 24px;
}

.number { 
    color: #63332a;
    font-size: 24px;
    margin: 0 0 0 10px;
}

/*-------------------------------------------*
/* Main menu
/*-------------------------------------------*/

#main-menu {
    padding: 30px 0;
}

#main-menu ul.menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

#main-menu ul.menu:before {
    content: "";
    display: block;
    height: 1px;
    background-color: #ddd1cf;
    position: absolute;     
    right: 0;
    bottom: 50%;
    left: 0;
    z-index: -1;
}

#main-menu ul.menu li {
    display: block;
}

#main-menu .menu a {
    background-color: #fff;
    font-size: 16px;    
    display: block;
    padding: 0 10px;
    text-transform: uppercase;
}

ul.menu li a.active {
    color: rgba(99,51,42,0.7);
}

/*-------------------------------------------*
/* Sidebar
/*-------------------------------------------*/

#sidebar .block {
    margin-bottom: 60px;
}

#sidebar ul.menu li a {
    display: block; 
	padding: 15px 0;  
	font-size: 19px;
    text-transform: uppercase;
	border-bottom: 1px solid #ddd1cf;
}

/*-------------------------------------------*
/* Content
/*-------------------------------------------*/

.region-content {
    line-height: 1.5em;
    color: rgba(99, 51, 42, 0.8);
}

.field-name-field-page-img {
    float: right;
    margin: 0 0 0 30px;
}

.field-name-field-additives-img {
    margin: 0 0 30px 0;
}

.region-content ul {	
	margin: 0 0 30px 30px;
	padding: 0;
}

.region-content ol {	
	margin: 0 0 30px 30px;
	padding: 0 0 0 15px;
}

.region-content ul li:before {
	content: "";
	display: inline-block;
    width: 6px;
    height: 6px;
	margin: 0 15px 0 0;
    background-color: #63332a;
    vertical-align: 0.1em;
}

.region-content img {
	display: block;
    max-width: 100%;
    height: auto;
}

.field-name-field-product-price {
    color: #f57c20;
    font-size: 19px;
}

/*-------------------------------------------*
/* Forms
/*-------------------------------------------*/

.form-item {
    margin: 0 0 15px 0;
}

label {
    display: block;
    margin: 0 0 5px 0px;
    font-weight: 400;   
    font-size: 1.2rem;  
}

.form-text,
.form-textarea,
.form-select {
    border: 1px solid #ddd1cf;
    font-family: "MuseoSans";
    font-weight: 400;
    font-size: 17px;
    margin: 3px 0px;
    padding: 7px;
    width: 50%;
    transition: 0.2s ease-out;
}

.form-text:hover,
.form-textarea:hover,
.form-select:hover {
    border: 1px solid #ddd1cf;
}

.form-text:focus,
.form-textarea:focus,
.form-select:focus {
    border: 1px solid #f57c20;
}

.form-submit {
    color: #fff;
    background-color: #63332a;
    cursor: pointer;
    font-family: "MuseoSans";
    font-weight: 400;
    font-size: 17px;
    line-height: normal;
    font-style: normal;
    text-align: center;
    margin-bottom: 0;
    margin-right: 20px; 
    padding: 15px 30px;
    transition: 0.2s ease-out;
}

.form-submit:hover,
.form-submit:focus {   
    background-color: #f57c20;
}

.form-submit,
button {   
    cursor: pointer;
}

a.button {
    display: inline-block;
    color: #fff;
    background-color: #63332a;
    line-height: 1em;
    cursor: pointer;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    padding: 15px 30px;
    border: none;
}

a.button:hover,
a.button:focus,
a.button:active {
    background-color: #f57c20;
    cursor: pointer;
}

.grippie,
.webform-component-textarea .grippie {
    display: none;
}

/*-------------------------------------------*
/* Footer
/*-------------------------------------------*/

#footer {
    font-size: 15px;
    line-height: 1.5;
    color: rgba(99, 51, 42, 0.8);
    margin: 60px 0 0 0;
}

#footer .region {
    border-top: 1px solid #ddd1cf;
    padding: 30px 0;
}

#footer p {
    margin: 0;
}

#footer a {
    color: rgba(99, 51, 42, 0.8);
}

#footer a:hover {
    color: #f57c20;
}

/*-------------------------------------------*
/* Blocks
/*-------------------------------------------*/

#block-block-8  {
    text-align: center;
}

#block-block-7 {
    margin: 5px 0 0 0;
}

